<div class="around">
	 <div class="content has-header ionic-pseudo">

      <div class="list">

        <div class="item item-divider">
          主题
        </div>

        <a class="item" href="#">
          Cosplay
        </a>

        <a class="item" href="#">
          同人展
        </a>

        <a class="item" href="#">
        军种扮演
        </a>

        <a class="item" href="#">
          角色扮演
        </a>

        <div class="item item-divider">
          活动
        </div>

        <a class="item" href="#">
          二次元物
        </a>

        <a class="item" href="#">
          宅舞演出
        </a>

        <a class="item" href="#">
          贩卖二次元物
        </a>

        <a class="item" href="#">
          漫展摄影
        </a>

      </div>

    </div>
</div>