<ion-view>
	<ion-nav-buttons side="left">
		<ion-nav-button>
			<i class="icon ion-ios-arrow-left" ng-click="back()"></i>
		</ion-nav-button>
	</ion-nav-buttons>
	<ion-nav-title>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper" ui-sref="search">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="漫画岛|作者">
		  </label>
		</div>
	</ion-nav-title>
	<ion-content>
		<ul class="fen-ul">
			<li ng-repeat="fen in fens">
				<img ng-src="{{fen.imageurl}}" alt="" />
				<p>{{fen.description}}</p>
			</li>
		</ul>
	</ion-content>

</ion-view>